.env
# Data directories
data/*
!data/.gitkeep

# Python caches
__pycache__/
*.pyc
.pytest_cache/

# Logs
logs/*

.DS_Store
spark-warehouse/
recipe_features/feature_repo/data/registry.db
recipe_features/feature_repo/data/online_store.db
*.parquet